a.button,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  font-weight: 400;
  border: 0;
}

.button {
  border-radius: 4px;
  display: inline-block;
}

a.button-action,
.button-action {
  color: $color-white;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: $color-main;
  padding: 10px 15px;
  margin-bottom: 30px;
  transition: background .2s ease;
  min-width: 130px;

  &:hover,
  &:active {
    background: darken($color-main, 10%);
    transition: background .2s ease;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    margin-bottom: 30px;
  }

  &-canary {
    background: $color-canary;
    color: $color-grey;
    transition: background .2s ease;

    &:hover,
    &:active {
      background: lighten($color-canary, 10%);
      transition: background .2s ease;
    }
  }

  &-laser-lemon {
    background: $color-laser-lemon;
    color: $color-grey;
    transition: background .2s ease;

    &:hover,
    &:active {
      background: lighten($color-laser-lemon, 10%);
      transition: background .2s ease;
    }
  }

  .background & {
    width: 160px;
    padding: 10px 5px;
  }
}
