.footer-main {
  color: $color-white;
  padding: 20px 0;
  text-align: center;
  padding: 50px 0;

  .icon,
  a.icon {
    border: 0;
    font-size: 40px;
    display: inline-block;
    padding: 0 15px;
    transform: scale(1);
    transition: color .2s ease, transform .2s ease;

    &:hover,
    &:active {
      border: 0;
      color: $color-laser-lemon;
      transform: scale(1.1);
      transition: color .2s ease, transform .2s ease;
    }
  }
}
