.slider-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  border-radius: 50%;
  background: $color-white;
  position: relative;

  &.is-active {
    &:after {
      content: '';
      background: $color-main;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }
}
