@keyframes slideIn {
  0%   { opacity: 0; transform: translate(-20px, 0); }
  100% { opacity: 1; transform: translate(0, 0); }
}

@keyframes slideOut {
  0%   { opacity: 1; transform: translate(0, 0); }
  100% { opacity: 0; transform: translate(-20px, 0); }
}

.slide-description {
  background: rgba(255,255,255,.85);
  border-radius: 3px;
  padding: 20px 30px;
  position: absolute;
  bottom: 55px;
  left: 55px;
  max-width: 65%;
  opacity: 0;
  animation: slideOut .2s 0 forwards;

  .is-active & {
    animation: slideIn .5s .7s forwards;
  }

  a {
    text-decoration: none;
    color: $color-main;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    transition: color .2s ease;

    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 1px;
      line-height: 30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 4px;
      border-color: transparent transparent transparent $color-main;
      transition: border-color .2s ease;
    }

    &:hover {
      color: darken($color-main, 10%);
      transition: color .2s ease;

      &:before {
        border-color: transparent transparent transparent darken($color-main, 10%);
        transition: border-color .2s ease;
      }
    }
  }
}
