.menu {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  padding: 0;
  z-index: index($z-stack, navigation);
  line-height: 26px;
  margin: 0;
  height: 100%;
  width: 100%;

  @include breakpoint(medium) {
    position: relative;
    padding: 50px 0;
    text-align: right;
    height: auto;
    width: auto;
  }

  li {
    border-bottom: 1px solid $color-solitude;
    cursor: pointer;
    display: block;

    a {
      display: block;
      padding: 10px 20px;
      color: $color-alternate;
      border: 0;
    }

    &:first-child {
      border-top: 1px solid $color-solitude;
    }

    @include breakpoint(medium) {
      display: inline-block;
      border: 0;

      &:first-child {
        border: 0;
      }

      &.is-active {
        span {
          display: block;
          border-bottom: 1px dotted $color-main;
        }
      }

      a {
        padding: 0 10px;
      }
    }

    a {
      color: #303030;
      font-weight: 400;
      text-decoration: none;
      transition: color .2s ease;

      &:hover {
        color: $color-alternate;
      }
    }
  }
}
