---
title: About the Codoyster
navTitle: About
primary: 4
---
<section class="bgcolor section" id="{{id}}">
  <div class="row row-with-padding">
    <header class="col col-12 section-header">
      <h2 class="section-subtitle section-subtitle-centered">Want to know who I am?</h2>
      <h1 class="section-title section-title-centered">About me</h1>
    </header>
  </div>
  <article class="row row-with-padding article">
    <div class="col col-12 col-xs-3 col-md-2">
      <div class="article-image-circle">
        <img src="/images/me.jpg" alt="" />
      </div>
    </div>
    <div class="col col-12 col-xs-9 col-md-10">
      <p>
        Hey, nice to meet you! My name is Tamara Bazko. I'm developing since 2012.
        It has been a long and entertaining journey since then. It all started with
        <strong>HTML</strong>, <strong>CSS</strong> and <strong>jQuery</strong> back in Ukraine.
        I do remember even websites built with tables. Had to support some... Getting old, eh?
        Since then I've enjoyed (or not) many other technologies.
      </p>
      <p>
        Used things like <strong>Grunt</strong>, <strong>Gulp</strong>, <strong>SCSS</strong>,
        <strong>BackboneJS</strong> around 2014-2015.
        Learnt pretty decently <strong>VanillaJS</strong>, including <strong>ES6</strong> and
        <strong>ES7</strong>.
        Started working with <strong>NodeJS</strong> around 2016, with <strong>React</strong> and
        <strong>React Native</strong>, <strong>Webpack</strong>.
        Got familiar with <strong>SQL / NoSQL databases</strong>: <strong>MySQL</strong>,
        <strong>PostgreSQL</strong>, <strong>MongoDB</strong>.
        In 2017 or so "Full stack" became a big word, so started picking up and working with more of
        infrastracture things like: <strong>Heroku</strong>, <strong>AWS</strong>,
        <strong>Docker</strong>, <strong>CI/CD tools (Jenkins, Travis, lately CircleCI)</strong>. If
        any doubts, yes, I also know what <strong>Git</strong> is ;)
      </p>
      <p>
        Other random things I worked with: <strong>Golang</strong>, <strong>Dialogflow</strong>,
        <strong>Lambdas</strong>, <strong>Firebase</strong>, <strong>Google Maps API</strong>
        Additional things worth knowing: I am <strong>TDD</strong> addict and <strong>unit
          tests</strong> worshipper.
      </p>
      <p>
        I love what I do. Programming can be great challenge and keep mind in shape.
        Also I am constantly learning, but at this point in my life I very much enjoy also sharing
        my knowledge with others.
      </p>
      {{!-- <p>
        Want to know more?
      </p>
      <p>
        <a href="/contacts" class="button button-action">Contact me</a>
      </p> --}}
    </div>
  </article>
</section>
