---
title: About the Codoyster
navTitle: About
primary: 4
---
<section class="bgcolor section" id="{{id}}">
  <div class="row row-with-padding">
    <header class="col col-12 section-header">
      <h2 class="section-subtitle section-subtitle-centered">Want to know who I am?</h2>
      <h1 class="section-title section-title-centered">About me</h1>
    </header>
  </div>
  <article class="row row-with-padding article">
    <div class="col col-12 col-xs-3 col-md-2">
      <div class="article-image-circle">
        <img src="/images/me.jpg" alt="" />
      </div>
    </div>
    <div class="col col-12 col-xs-9 col-md-10">
      <p>
        Hey, nice to meet you! My name is Tamara Bazko. I'm web developer for 5 years now.
        I have experience of working it teams and on my own. Last couple of years I have worked in <a href="https://www.g-star.com/nl_nl">G-Star Raw</a>, before that: in IT company <a href="http://www.heliostech.fr/">Heliostech</a>.
        Those were great times, but now I am a freelancer ready to help you with anything regarding my area of expertise.
        Which is: <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>SCSS</strong>,
        <strong>JavaScript</strong>, <strong>ES6</strong>, <strong>Node.js</strong>,
        <strong>Express.js</strong>, <strong>jQuery</strong>, <strong>Grunt</strong>,
        <strong>RequireJS</strong>, <strong>Git</strong>, <strong>WordPress</strong>, <strong>Google Maps API</strong>,
        <strong>Objection.js</strong>, <strong>MySQL</strong>, <strong>BEM</strong>, <strong>SMACSS</strong>.
      </p>
      <p>
        I think programming is exciting job, it's great to see how ideas become alive things to serve people.
        It's also challenging and keeps your mind in shape, preventing those cogs from rust...
      </p>
      <p>
        Want to know more?
      </p>
      <p>
        <a href="/contacts" class="button button-action">Contact me</a>
      </p>
    </div>
  </article>
</section>
