---
title: Portfolio
navTitle: Portfolio
primary: 3
---
<section class="bgcolor section">

  <div class="section-header">
    <h1 class="section-subtitle section-subtitle-centered">Working and growing with awesome people</h1>
    <p class="section-title section-title-centered">Projects I participated in:</p>
  </div>
  <div class="row row-with-padding text-center row-with-cards">
    {{#each portfolio.project.participated}}
      <div class="card card-portfolio">
        {{>post-excerpt this}}
      </div>
    {{/each}}
  </div>
</section>
<section class="bgcolor section">
  <div class="row row-with-padding">
    <div class="col col-12 section-header">
      <h1 class="section-subtitle section-subtitle-centered">Freelance works</h1>
      <p class="section-title section-title-centered">Standalone projects:</p>
    </div>
  </div>
  <div class="row row-with-padding text-center row-with-cards">
    {{#each portfolio.project.freelance}}
      <div class="card card-portfolio">
        {{>post-excerpt this}}
      </div>
    {{/each}}
  </div>
</section>
{{!-- {{> contact-me }} --}}
