---
title: Thank you for your message!
---
<section class="background background-contacts">
  <div class="image"></div>
  <div class="background-overlay">
    <div class="section-header section-header-darkbg section-header section-header-small-margin">
      <h1 class="section-subtitle section-subtitle-centered section-subtitle-canary">Thank you for your message!</h1>
      <p class="section-title section-title-white section-title-noline section-title-centered">I will answer you ASAP</p>
    </div>
    <h2><a href="/" class="button button-action button-action-laser-lemon">Home</a></h2>
    <h2><a href="/service" class="button button-action button-action-canary">Service</a></h2>
    {{!-- <h2><a href="/contacts" class="button button-action">Contacts</a></h2> --}}
  </div>
</section>
