.navigation {
  background: rgba($color-white, .97);
  z-index: index($z-stack, navigation);
  top: 0;
  position: fixed;
  height: 54px;
  max-width: none;

  .col {
    height: 100%;
    max-width: none;
  }

  &.is-sticky {
    border-bottom: 1px solid $color-white-smoke;
  }

  @include breakpoint(small) {
    height: $navHeightSmall;
  }

  @include breakpoint(medium) {
    height: $navHeight;
  }
}
