.card {
  display: inline-block;
  position: relative;
  max-width: 460px;
  text-align: left;
  padding-bottom: 50px;
  width: 100%;
  vertical-align: top;

  @include breakpoint(small) {
    width: calc(50% - 30px);
    margin: 0 15px;
    padding-bottom: 30px;
  }

  @include breakpoint(medium) {
    width: calc(100% / 3 - 40px);
    padding-bottom: 60px;
    margin: 0 20px;
  }

  @include breakpoint(large) {
    width: calc(100% / 3 - 50px);
    margin: 0 25px;
  }

  .row {
    flex-flow: row wrap;
  }
}
