.card-content {
  border-top: 0;
  position: relative;
  z-index: 11;

  @include breakpoint(xsmall) {
    display: table;
    position: relative;
    top: 43%;
    width: calc(100% + 1px); // +1px due to Chrome issue with table rendering
    height: calc(57% - 40px);
    overflow: visible;
    z-index: index($z-stack, content-overlay);
  }

  .card-dark & {
    position: absolute;
    display: block;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border: 1px solid $color-white;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}
