.card-content-inner {
  padding: 15px 0;
  border-top: 0;
  font-size: 14px;
  line-height: 26px;

  @include breakpoint(xsmall) {
    display: table-cell;
    vertical-align: middle;
  }

  .card-dark & {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
  }
}
