.card-descriptionWrapper {
  color: $color-night-rider;
  position: relative;
  overflow: hidden;

  @include breakpoint(xsmall) {
    margin-bottom: 0;
  }

  .card-dark & {
    color: $color-white;
  }

  p + p {
    margin-top: 13px;
  }
}
