@keyframes parallax {
  0% {
    transform: translate(-10%, -10%);
  }

  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-10%, -10%);
  }

  75% {
    transform: translate(-20%, -20%);
  }

  100% {
    transform: translate(-10%, -10%);
  }
}

.background {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
  position: relative;
  min-height: 455px;
  @include grey-overlay;

  @include breakpoint(small) {
    height: calc(100vh - 104px);
  }

  @include breakpoint(medium) {
    height: calc(100vh - 126px);
  }

  .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.background-contacts {
  .image {
    background-image: url("../images/bottle.jpg");
  }
}

.background-parallax {
  .image {
    width: 125%;
    height: 125%;
    background-image: url("../images/workplace/workplace.jpg");
    transform: translate(-10%, -10%);
    animation-name: parallax;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
