.background-description {
  color: $color-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: index($z-stack, content-overlay);
  text-align: center;
  width: 100%;
}
