.usp-block {
  border-top: 1px solid $color-white-smoke;
  padding-top: 28%;
  position: relative;
  text-align: center;
  width: 100%;
  height: 250px;

  @include breakpoint(small) {
    border: 1px solid $color-white-smoke;
    border-right: 0;
    width: calc(100% / 3);
    height: 0;
    display: inline-block;
    float: left;
  }

  &:last-child {
    border-right: 1px solid $color-white-smoke;
  }

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: index($z-stack, content);

    img {
      transform: scale(1);
      height: 64px;
      opacity: .5;
      width: auto;
      transition: opacity .2s ease, transform .2s ease;
    }
  }

  h4 {
    color: $color-night-rider;
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0;
  }

  [class$="-description"] {
    color: $color-grey;
    line-height: 26px;
    max-width: 300px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }

  .usp-mask {
    border: 2px solid transparent;
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: index($z-stack, content-overlay);
    transition: border .2s ease;

    &:hover {
      border: 2px solid $color-alternate;
      transition: border .2s ease;
    }

    &:hover + div {
      img {
        transform: scale(1.1);
        opacity: 1;
        transition: opacity .2s ease, transform .2s ease;
      }
    }
  }
}
