.service-post-icon-wrapper {
  @include dotted-box;
  margin-right: 20px;
  float: left;
}

.service-post-icon {
  color: $color-main;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
