.service-post {
  position: relative;
  padding: 0 20px;
}

.service-post-list {
  list-style-type: none;
  padding-right: 20px;

  li {
    @extend %clearfix;
    margin-bottom: 45px;
  }

  h3 {
    font-size: 18px;
    line-height: 35px;

    @include breakpoint(xsmall) {
      font-size: 18px;
    };
  }
}
