*, *:after, *:before {
  box-sizing: border-box;
}

.flex {
  flex-flow: column nowrap;
  max-width: $layoutWidth;
  position: relative;
  z-index: index($z-stack, base);

  @include breakpoint(small) {
    flex-flow: row wrap;
  }

  &.column-all {
    flex-flow: column nowrap;
  }

  &.flex-all {
    flex-flow: row wrap;
  }

  @each $i in xsmall, small, medium, large {
    &.column-#{$i} {
      @include breakpoint(#{$i}) {
        flex-flow: column nowrap;
      }
    }

    &.flex-#{$i} {
      @include breakpoint(#{$i}) {
        flex-flow: row wrap;
      }
    }

    &.space-between-#{i} {
      @include breakpoint(#{$i}) {
        justify-content: space-between;
      }
    }
  }
}

.flex {
  display: flex;
  position: relative;

  &.with-padding {
    padding-left: $layoutSidePadding/2;
    padding-right: $layoutSidePadding/2;

    @include breakpoint(xsmall) {
      padding-left: $layoutSidePadding;
      padding-right: $layoutSidePadding;
    }
  }

  &.flex-layout-width {
    max-width: $layoutWidth;
    margin: 0 auto;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-alignment {
    flex-flow: row wrap;
  }

  &.column-alignment {
    flex-flow: column nowrap;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.valign {
    &-center {
      align-items: center;
    }
  }
}
