@mixin breakpoint($point) {
  @if $point == xsmall {
    @media (min-width: 580px) {
      @content;
    }
  }
  @if $point == small {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $point == medium {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @else if $point == large {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @else if $point == xlarge {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

@mixin grey-overlay($bg: rgba($color-alternate, .5)) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bg;
    z-index: index($z-stack, content);
  }
}

@mixin dotted-box($border-color: $color-main, $size: 85px) {
  border: 1px dotted $border-color;
  height: $size;
  width: $size;
  display: table;
}

/* ================= Placeholders ====================== */

%p-ellipsis {
  // Makes some 'p' element's or other block element's text
  white-space: nowrap;     // fill in only one line and adds '...' in place where text overflows
  overflow: hidden;
  text-overflow: ellipsis;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
