$menu-height: 54px;

.menu-trigger {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  position: relative;
  height: $menu-height;
  padding: 15px 12px;
  margin-right: -20px;
  width: $menu-height;
  float: right;

  @include breakpoint(xsmall) {
    margin-right: -40px;
  }

  @include breakpoint(small) {
    margin-right: -10px;
  }

  @include breakpoint(medium) {
    display: none;
  }
}
