.section-header {
  margin-bottom: 40px;

  @include breakpoint(xsmall) {
    margin-bottom: 120px;
  };

  &-small-margin {
    margin-bottom: 40px;
  }

  &-darkbg {
    background: rgba(0,0,0,.5);
    padding: 30px;
    width: auto;
    display: inline-block;
    margin: 0 auto 30px;
  }
}
