.section-title {
  @extend h1;
  line-height: 48px;

  &-centered {
    text-align: center;
  }

  &:after {
    content: "";
    position: relative;
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px dotted $color-main;
  }

  &-noline {
    &:after {
      content: none;
    }
  }

  &-white {
    color: $color-white;
  }
}
