.content {
  padding: 40px 0 30px;

  a {
    cursor: pointer;
    color: $color-night-rider;
    text-decoration: none;
    border-bottom: 1px dotted $color-night-rider;

    &:hover, &:active {
      color: $color-night-rider;
    }
  }

  p {
    line-height: 26px;
  }
}

.content-frontpage {
  color: $color-night-rider;
  padding: 0 0 20px;
  margin: 0 auto;
  position: relative;
  font-weight: 400;
  font-size: 16px;

  @include breakpoint(xmall) {
    font-weight: 300;
    padding: 0 0 30px;
  }

  h2 {
    padding: 20px 0 10px;

    @include breakpoint(xsmall) {
      padding: 30px 0 20px;
    }
  }

  h3 {
    font-size: 21px;
  }

  h2, h3 {
    color: $color-night-rider;
  }

  &:before {
    content: '';
    display: block;
    height: 100px;
    width: 100%;
    background: url('images/still-life.jpg') no-repeat 20% 20%;
    background-size: cover;
    position: relative;
    z-index: index($z-stack, content);
  }

  &>div {
    z-index: index($z-stack, content-overlay);
    position: relative;
  }

  @include breakpoint(small) {
    background: transparent;
    color: $color-grey;

    h2, h3 {
      color: $color-night-rider;
    }

    &:before {
      content: none;
    }
  }

  h3 {
    line-height: 46px;
    padding-top: 20px;
  }
}
