.phone {
  width: 100%;

  span, span a {
    color: $color-white;
    text-decoration: none;
  }

  span a {
    border-bottom: 1px dashed $color-white;
  }

  @include breakpoint(small) {
    width: auto;

    span, span a {
      border: 0;
    }
  }
}
