<footer class="footer">
  <div class="footer-main flex space-around flex-layout-width">
  </div>
  <div class="footer-copyright">
    <div class="row">
      <p>
        &copy;<a href="http://codoyster.com/">Codoyster.com</a> - design and development
      </p>
    </div>
  </div>
</footer>
