<footer class="footer">
  <div class="footer-main">
    <a class="icon icon-linkedin" href="https://www.linkedin.com/in/tamara-bazko-0333483b?trk=hp-identity-headline"></a>
    <a class="icon icon-skype" href="skype:dark_shines90?chat"></a>
    <a class="icon icon-github" href="https://github.com/tbazko"></a>
    <a class="icon icon-facebook" href="https://www.facebook.com/profile.php?id=100003485428634"></a>
  </div>
  <div class="footer-copyright">
    <div class="row">
      <p>
        &copy;<a href="http://codoyster.com/">Codoyster.com</a> - design and development
      </p>
    </div>
  </div>
</footer>
