<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="website, web, create, build, develop, web application, webapplication, frontend, front-end, web developer, freelance, freelancer, developer" />
<meta name="author" content="Codoyster">
<meta name="description" content="{{description}}">
<title>{{title}}</title>

<link href="https://fonts.googleapis.com/css?family=Satisfy|Libre+Baskerville:400,700" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
{{#if style}}
  <link rel="stylesheet" href="/css/{{style}}.css">
{{/if}}
