<nav class="row row-with-padding row-navigation">
  <div class="col col-6 col-md-2">
    <h1 class="header-logo">
      Codoyster
      <a href="/">
        <img src="/images/logo.png" alt="" />
      </a>
    </h1>
  </div>
  <div class="col col-6 col-md-10">
    <div class="menu-trigger">
      <div class="menu-trigger-icon">
        <span class="menu-trigger-icon--top"></span>
        <span class="menu-trigger-icon--middle"></span>
        <span class="menu-trigger-icon--bottom"></span>
      </div>
    </div>
    <div class="menu-wrapper">
      <ul class="menu">
        {{#withSort pages "data.primary" }}
          {{#if data.primary}}
            <li{{#is ../../page.basename this.basename}} class="is-active"{{/is}}><a href="{{#isnt this.basename 'index'}}{{this.basename}}{{else}}/{{/isnt}}"><span>{{data.navTitle}}</span></a></li>
          {{/if}}
        {{/withSort}}
      </ul>
    </div>
  </div>
</nav>
